<div id="formDiv">
<form action="">
    <legend>Company Information</legend>
    <div class="item">
      <label for="name">Company Name<span>*</span></label>
      <input id="name" type="text" name="text" required />
    </div>
    <div class="item">
      <label for="address">Company Address<span>*</span></label>
      <input id="address" type="text" name="text" placeholder="Street Address" required />
    </div>
    <div class="item">
      <div class="name-item">
        <div>
          <input type="text" name="city" placeholder="City" />
        </div>
        <div>
          <input type="text" name="state" placeholder="State/region" />
        </div>
      </div>
      <div class="item">
        <div class="name-item">
          <div>
            <input type="text" name="code" placeholder="ZIP Code" />
          </div>
          <div>
            <select>
              <option selected value="" disabled selected>Country</option>
              <option value="1">Russia</option>
              <option value="2">Germany</option>
              <option value="3">France</option>
              <option value="4">Armenia</option>
              <option value="5">USA</option>
              <option value="6">Spain</option>
              <option value="7">Italy</option>
            </select>
          </div>
        </div>
      </div>
      <legend>Contact Information</legend>
      <div class="item">
        <label for="name">Name<span>*</span></label>
        <div class="name-item">
          <input id="name" type="text" name="name" placeholder="First" required />
          <input id="name" type="text" name="name" placeholder="Last" required />
        </div>
      </div>
      <div class="item">
        <label for="bdate">Date of Birth<span>*</span></label>
        <input id="bdate" type="date" name="bdate" required />
        <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="item">
        <label for="email">Email<span>*</span></label>
        <input id="email" type="text" name="text" required />
      </div>
      <div class="item">
        <label for="position">Position<span>*</span></label>
        <input id="position" type="text" name="text" required />
      </div>

      <div class="btn-block">
        <button type="submit" href="/">APPLY</button>
      </div>
    </div>
    </form>
 </div>
  
    


 